@(machines: List[java.util.UUID])(implicit request: play.api.mvc.Request[_])
<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>Actyx Machine Park Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Carlos Alvarez - Alvarez.is">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/font-style.css" rel="stylesheet">
    <link href="assets/css/flexslider.css" rel="stylesheet">
    
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    var socket = new WebSocket('@routes.ApplicationController.socket.webSocketURL()');
      
    socket.onmessage = function (event) {
      var machine = JSON.parse(event.data);
      var square = $('#' + machine.id);
      square.find('.machine_name').text(machine.name + ' [' + machine.type + ']');
      square.find('.current_alert').text(machine.current_alert);

      var previousCurrent = parseFloat(square.find('.current').text());
      var currentImage = '';
      if(machine.current < previousCurrent) {
          currentImage = 'assets/img/down.png';
      } else if (machine.current > previousCurrent) {
          currentImage = 'assets/img/up.png';
      }
        
      square.find('.current').text(machine.current);
      square.find('.higlight').attr('class', 'current higlight ' + machine.status);
      square.find('.current_arrow').attr('src', currentImage);

      square.find('.state').text(machine.state);
      square.find('.type').text(machine.type);
      square.find('.location').text(machine.location);
        
      var previousAverage = parseFloat(square.find('.average_current').text());
      var averageImage = '';
      if(machine.average_current < previousAverage) {
          averageImage = 'assets/img/down-small.png';
      } else if (machine.average_current > previousAverage) {
         averageImage = 'assets/img/up-small.png' 
      }
        
      square.find('.average_current').text(machine.average_current.toFixed(2));
      square.find('.average_arrow').attr('src', averageImage);
      square.find('.timestamp').text(new Date(machine.timestamp));

      if(machine.status == 'critical' && previousCurrent != machine.current) {
          var n = noty({
              text: '[' + new Date(machine.timestamp) + '] '
                  + machine.name + ' current above threshold, average from last 5 minutes is: '
                  + machine.average_current.toFixed(2),
              type: 'error',
              maxVisible: 3,
              layout: 'topRight',
              closeWith: ['click'],
              dismissQueue: true,
              force: true,
              callback: {
                  onShow: function() {},
                  afterShow: function() {
                      setTimeout(function() { n.close(); }, 5000);
                  },
                  onClose: function() {},
                  afterClose: function() {},
                  onCloseClick: function() {
                      $('html, body').animate({
                          scrollTop: $('#' + machine.id).offset().top
                      }, 2000, 'swing', function() {
                          $('#' + machine.id).fadeOut(100).fadeIn(100);
                      });
                  },
              }
          });
      }
    }
  
});

</script>
<style>
  .critical {
    color: red;
    font-weight: bold;
  }
  .normal {
     color: white;
     font-weight: bold;
  }
  .warning {
    color: yellow;
    font-weight: bold;
  }

  .modal-body {
      color: black;
      text-align: left;
  }

  .modal-body normal {
      color: black !important;;
      text-align: left;
  }

  .modal-body span {
      font-weight: bold;
    }
</style>

    
  </head>
  <body>
 

    <div class="container">

	  <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">
	  <!-- GAUGE CHART BLOCK -->
       @for(grouped <- machines.grouped(1)) { 
		<div class="col-sm-3 col-lg-3">

          @for(machine <- grouped) {  
      		<div id="@machine" class="half-unit">
	      		<dtitle class="machine_name">@machine</dtitle>
	      		
	      		<div class="cont">
      			<p><bold><img src="" class="current_arrow" alt=""> <span class="current normal higlight">0.0</span> Amps</bold></p>
      			<p>max: <span class="current_alert">0.0</span></p>
                
                <a href="#details_@machine" role="button" class="btnnew" data-toggle="modal">Details</a>
                
                <div class="modal fade" id="details_@machine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			          <h4 class="modal-title machine_name">@machine</h4>
			        </div>
			        <div class="modal-body">
                      <p>timestamp: <span class="timestamp">-</span></p>
			          <p>current: <span class="current">0.0</span></p>
                      <p>average current (last 5 min.): <span class="average_current">0</span></p>
                      <p>max current: <span class="current_alert">0.0</span></p>
                      <p>location: <span class="location">-</span></p>
                      <p>type: <span class="type">unknown</span></p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
			  </div><!-- /.modal -->
              </div>
      		</div>
            }
      	</div>
        }
	
	</div><!--/row -->     


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/jquery.pulse.min.js"></script>
	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="assets/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topLeft.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="assets/js/noty/layouts/topCenter.js"></script>
	
	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="assets/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
	<script src="assets/js/jquery.flexslider.js" type="text/javascript"></script>

  
</body></html>
