@(machines: List[java.util.UUID])(implicit request: play.api.mvc.Request[_])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Machine Park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
</head>
<body>

  <ul>
    @for(machine <- machines) {
      <div id="@machine">
        <span class="machine_name">?</span>
      </div>
    }
  </ul>  
</body>
<script type="text/javascript">

    var socket = new WebSocket('@routes.ApplicationController.socket.webSocketURL()');

    socket.onmessage = function (event) {
      var machineInfo = JSON.parse(event.data);
      $('#' + machineInfo.id).find('.machine_name').text(machineInfo.name + " : " + machineInfo.current);
    }
  
</script>
</html>
